 <div class="card w-100 h-50 " style="width: 18rem;"> 
    <img class="card-img-top w-100 h-50  " [src]="bookitem.imageUrl" alt="Card image cap">
    <div class="card-body"> 
      <!-- <span  [ngStyle]="{ color: (bookitem.stock== 0) ? 'red' : 'green' }">{{bookitem.stock | productStock }}</span> -->
      <h5 class="card-title">{{bookitem.title | uppercase}}</h5>
      <h5 class="card-title">{{bookitem.authorId.firstName}}</h5>
      <a (click)="redirectToDetails(bookitem._id)" class="btn btn-danger mr-3">More Details..</a>
     
  
    
    </div>
  </div>








