<div class="card w-100 h-100" style="width: 18rem;">
    <img class="card-img-top w-100  " [src]="bookitem.image" alt="Card image cap">
    <div class="card-body">
      <!-- <span  [ngStyle]="{ color: (bookitem.stock== 0) ? 'red' : 'green' }">{{bookitem.stock | productStock }}</span> -->
      <h5 class="card-title">{{bookitem.title | uppercase}}</h5>
      <span>{{bookitem.price | currency}}</span>
      <br>
      <!-- <p class="card-text">{{productItem.description}}.</p> -->
      <!-- <a (click)="showDetails(productItem.id)" class="btn btn-primary">More Details..</a> -->
      <span> <b>Created in:</b>  {{bookitem.createdAt | date :'MMMM YYYY'}}</span>
      <br>
<!-- <div class="d-flex justify-content-between m-3 ">
  <a (click)="emitToParent(bookitem.id)" class="btn btn-danger mr-3">More Details..</a>
  <button class="btn btn-success" type="submit" (click)="addToCart(bookitem);increaseCounter()" >Add To Cart</button>
</div> -->
    
    </div>
  </div>

