 <!-- <div class="card w-100 h-50 " style="width: 18rem;"> 
    <img class="card-img-top w-100 h-50  " [src]="bookitem.imageUrl" alt="Card image cap">
    <div class="card-body"> 
      <h5 class="card-title">{{bookitem.title | uppercase}}</h5>
      <h5 class="card-title">{{bookitem.authorId.firstName}}</h5>
      <a (click)="redirectToDetails(bookitem._id)" class="btn btn-danger mr-3">More Details..</a>
     
  
    
    </div>
  </div> -->


   <div class="card">
                  <div class="card-main">
                      <div class="discount">best</div>
                     
                      <div class="image">
                        <img class="card-img-top w-100 " [src]="bookitem.imageUrl" alt="book image">
                      </div>
                      <div class="cart-line"></div>
                  </div>
                  <div class="content">
                    <h5 class="card-title">{{bookitem.title | uppercase}}</h5>
                    <h5 class="card-title"> <b>Authour :</b> {{bookitem.authorId.firstName}}</h5>
                    <a (click)="redirectToDetails(bookitem._id)" class="btn mr-3">More Details..</a>
                      <div class="rating">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                      </div>
                    
                      <!-- <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p> -->
                  </div>
              </div>
          
             





