
<section class="bg-color " style="background-color: #eee;">
  <div class="containers">
      <div class="title">
          
      </div>
      <div class="row">
         
        <app-category-body></app-category-body>

      </div>
  </div>

  <div class="text-center m-5">
    <i class="fa-solid fa-angle-left"(click)="prevPage()" ></i>
    <button class="btn bg-warning m-1 text-white" (click)="pageNumber(1)" >1</button>
    <button class="btn btn-warning m-1 text-white  " (click)="pageNumber(2)" >2</button>
    <button class="btn btn-warning text-white m-1 " (click)="pageNumber(3)" >3</button>
  
    <i class="fa-solid fa-angle-right" (click)="nextPage()"></i>
  </div>
</section>



<!-- <div class="container" style="margin-left: 35%;">
  
  <nav aria-label="Page navigation example">
    <ul class="pagination pg-blue">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
      <li class="page-item active">
        <span class="page-link" mdbWavesEffect>
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
      <li class="page-item">
        <a class="page-link" mdbWavesEffect>Next</a>
      </li>
    </ul>
  </nav>

</div> -->