<section class="container">

    <h1 class="header">YOU CAN FIND IN OUR STORE </h1>
    <div class="row p-3 d-flex justify-content-around border border-1  ">
        <div class="box ">
            <h2>Popular Books</h2>
            <img src="https://images.unsplash.com/photo-1605290975464-72d2acef7d4a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"/>
            <!-- <h2>Name : <span>Menna</span> </h2>
            <h2>Born : <span>17/8/2000</span> </h2> -->
        </div>
        <div class="box">
            <h2>Popular Categories</h2>
            <img src="https://media.istockphoto.com/id/1339731921/photo/book-publisher-at-office.jpg?s=612x612&w=0&k=20&c=gM_DSXftwUho8rafzLJqOnRsIt6HTDdr9q8pawKzo_8="/>
            <!-- <h2>Name : <span>Menna</span> </h2>
            <h2>Born : <span>17/8/2000</span> </h2> -->
        </div>
        <div class="box">
            <h2>Popular Authors</h2>
            <img src="https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1274&q=80"/>
            <!-- <h2>Name : <span>Menna</span> </h2>
            <h2>Born : <span>17/8/2000</span> </h2> -->
        </div>
    </div>


    <div class="enter">

       <button class="btn  btn-secondary m-2">
        <a class="nav-item nav-link" routerLinkActive="active-link" routerLink="register">Register</a>
        

    </button>
    <button class="btn  btn-secondary m-2">
        <a class="nav-item nav-link" routerLinkActive="active-link" routerLink="login">Login In</a>
          
      

    </button>
    
        
         
    </div>
</section>
