<div class="d-flex justify-content-around w-75 "  style="background-color: #eee;">
  <div class="imgae_card">
    <img class="card-img-top w-100 h-50  " [src]="book.imageUrl" alt="Card image cap">
  
  
  
  </div>
  
  <div class="content">
    <h2 class="card-title m-2">{{book.title | uppercase}}</h2>
        <h4 class="card-title m-2">by : {{book.authorId.fullName}}</h4>
        <h4 class="card-title m-2"> Catergory : {{book.categoryId.name}}</h4>
  </div>
</div>




<div class="review">


</div>





