
<div class="container m-5 m-auto m-auto text-center">

<div class="d-flex justify-content-around w-75 "  style="background-color: #eee;">
  <div class="imgae_card">
    <img class="card-img-top w-100 h-50 mt-4 " [src]="book.imageUrl" alt="Card image cap">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Want To Read
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item active" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Read</a></li>
        <li><a class="dropdown-item" href="#">Currently Read</a></li>
        
      </ul>
    </div>
  
  
  
  </div>
  
  <div class="content">
    <h2 class="card-title m-2 mt-5">{{book.title | uppercase}}</h2>
        <h4 class="card-title m-2">by : {{book.authorId.fullName}}</h4>
        <h4 class="card-title m-2"> Catergory : {{book.categoryId.name}}</h4>
  </div>
</div>

</div>


<div class="review">


</div>





