<p>authors works!</p>
<button>add</button>
<br>
<img src="http://localhost:5000/img/books-awlad haretna.jpeg" alt="test">
<table class="table table-hover">
    <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Date Of Birth</th>
    <th scope="col">Image</th>
  </tr>
</thead>
<tbody>
 
  <tr *ngFor="let author of authors; let i= index;">
    <th scope="row">{{i+1}}</th>
    <td>{{author.firstName}}</td>
    <td>{{author.lastName}}</td>
    <td>{{author.dateOfBirth.split('T')[0]}}</td>
    <td><button>edit</button> <button (click)="del(i)">delete</button></td>
    <td><img src="{{author.imageUrl}}" width="100" alt=""></td>

  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@mdo</td>

  </tr>
  <tr>
    <th scope="row">2</th>

    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@mdo</td>
  </tr>
</tbody>

</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Model Title</h4>
                           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                           <form action=""  method="post" enctype="multipart/form-data" #authorForm = "ngForm" (ngSubmit)="onCreate(authorForm.value)" >
                            <input type="text" name="firstName" ngModel placeholder="first name" id="">
                            <input type="text" name="lastName" ngModel placeholder="last name" id="">
                            <label for="dateOfBirth" >date of birth</label>
                            <input type="date" name="dateOfBirth" ngModel id="">
                           
                              <label for="img">Select image:</label>
                              <input type="file" name="image" (change)="onFileSelected($event)" ngModel >
                              
                      
                            <button type="submit">submit</button>
                           </form>
                         </div>
                     <div class="modal-footer">
                           <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                         </div>
            </div>
             </div>
 </div>