



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo-img" href="#"><img src="../../../assets/img/logo (2).png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="menuType">
      <ul class="navbar-nav mr-auto" *ngSwitchCase="'default'">

  
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li> -->
        <li class="nav-item">
          <a  class="nav-link" routerLinkActive="active-link" routerLink="categories">Categories</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="authors">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="user/all">User</a>
          </li>

         
          <!-- ngIf=" menuType==='default'" -->
     
      <form class="form-inline  my-lg-0" >
        <input class="form-control mr-sm-2 search-bar mt-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
     

      <!-- <li class="nav-item " >
        <a class="nav-item nav-link" routerLinkActive="active-link" routerLink="register">Register</a>
      </li> -->
   

        <li class="nav-item "  >
          <a class="nav-item nav-link"  routerLinkActive="active-link" routerLink="admin">
            <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle "
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
  
          </a>
        </li>
  
      <li class="nav-item "  >
        <a class="nav-item nav-link"  routerLinkActive="active-link"  routerLink="login">LogOut</a>
      </li>
    </ul>

     
<ul class="navbar-nav mr-auto" *ngSwitchCase="'login'">
  <li class="nav-item active">
    <a class="nav-link" href="#">Home </a>
  </li>

<li class="nav-item "  >
  <a class="nav-item nav-link"  routerLinkActive="active-link"  routerLink="login">LogIn</a>
</li>
</ul>
      
   
    
  

    
   

   
      
    </div>
  </nav>
