.logo-img img{
    height: 90px;
    width: 150px;
    
}
.search-bar{
    width: 400px;
    height: 30px;
    margin: 0 40px;
    border-radius: 20px;
}
.admin_image{
    position: relative;
    left: 225px;
    top:50px

}