<!-- <app-admin></app-admin> -->

<h1 class="text-center font-weight-bold mt-3">
  Books
</h1>
<br>
<table class="table table-hover table-bordered  border-1 shadow">
  <thead class="thead-dark bg-dark text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let book of books; let i= index;">
      <th scope="row">{{i+1}}</th>
      <td>{{book.title}}</td>
      <td>{{book.authorId.fullName}}</td>
      <td>{{book.categoryId.name}}</td>
      <td><img src="{{book.imageUrl}}" width="100" alt=""></td>
      <td><button class="btn btn-warning m-2" (click)="openUpdateModal(book._id)">edit</button> 
        <button class="btn btn-danger m-2" (click)="del(i,book._id)">delete</button></td>
    </tr>
   
  </tbody>

</table>
<!--create-->
<button type="button" class="btn btn-dark btn-lg" (click)="openModal()">click to add</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Model Title</h4>
        <button type="button" class="close btn " aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="" id="createForm" method="post" enctype="multipart/form-data" #authorForm="ngForm"
          (ngSubmit)="onCreate(authorForm.value)">
          <input class="form-control mb-3"  type="text" name="title" ngModel placeholder="name" id="">
          <select class="form-select mb-3"  name="authorId" id="cars" ngModel >
            <option *ngFor="let author of authors" value="{{author._id}}">{{author.fullName}}</option>
          </select>
          <select class="form-select mb-3"  name="categoryId" id="cars" ngModel>
            <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
          </select>
          <label for="img">Select image:</label>
          <input class="form-control"  type="file" name="image" (change)="onFileSelected($event)" ngModel>


          <button class="btn btn-success mt-3" type="submit">submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>
<!---update modal-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUpdate}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Author</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandledUpdate()"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form action="" id="updateForm" method="post" enctype="multipart/form-data" #bookForm="ngForm"
            (ngSubmit)="onUpdate(bookForm.value)">
            <input type="text" name="title" ngModel placeholder="name" value="{{updateBook.title}}" id="">
            <select name="authorId" id="cars" ngModel >
              <option *ngFor="let author of authors" value="{{author._id}}">{{author.fullName}}</option>
            </select>
            <select name="categoryId" id="cars" ngModel>
              <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
            </select>
            <label for="img">Select image:</label>
            <input type="file" name="image" (change)="onFileSelected($event)" ngModel>
  
  
            <button type="submit">submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>